#cancel-btn-row{
    margin-top:3%;
}
#cancel-btn-row > button{
    background-color: transparent;
    border: none;
}
#todo-name-field{
    font-size: large;
    font-weight: bold;
}
#submit-btn-row{
    margin-top: 5%;
}
.edit-panel-row{
    margin-top: 3%;
}